<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Raleway:wght@800&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <title>test</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <p>
            CataLLLog
        </p>
    </header>
</div>
<div class="main">
    <div class="leftcolumn">
        <div class="buttons">
            <a href="#" class="button17" tabindex="0" id = "all-request">Вывести все запросы</a>
            <p></p>
            <a href="#" class="button17" tabindex="0" id = "all-request-DNS">Вывести все запросы с DNS</a>
            <p></p>
            <a href="#" class="button17" tabindex="0" id = "all-request-MVIDEO">Вывести все запросы с М.Видео</a>
            <p></p>
            <a href="#" class="button17" tabindex="0" id = "in-stock">Товары в наличии</a>
            <p></p>
            <a href="#" class="button17" tabindex="0" id = "today">Запросы за сегодня</a>
            <p></p>
            <a href="#" class="button17" tabindex="0" id = "yesterday">Запросы за вчера</a>
            <p></p>
            <a href="#" class="button17" tabindex="0" id = "month">Запросы за месяц</a>
            <p></p>
            <a href="#" class="button17" tabindex="0" id = "all-request-sort">Сортировать по цене</a>

        </div>
    </div>

    <div class="d1" id="product-form">
        <form action="" method="get">
            <input name="nameProduct" placeholder="" type="search">
            <button type="submit" id = "search-product"> Поиск </button>
        </form>
        <div class="product" id="products">

        </div>
    </div>
</div>
<footer class="footer">
    <div class="end">
        <P>
            CataLLLog — планируется восстановить как многофункциональный сервис поиска товаров в интернет-магазинах и сравнения цен. Он будет охватывать самые разнообразные категории товаров: электроника, компьютеры, бытовая техника, автотовары, оборудование для ремонта и строительства, туристическое снаряжение, детские товары и многое другое. Наша задача - восстановить сервис и помогать покупателю быстро и удобно находить самое выгодное предложение. Для тех, кто определяется с выбором, в каждом разделе будет подбор по параметрам и возможность сравнить товары между собой. В скором времени будет доступен и удобный текстовый поиск, позволяющий искать как нужные разделы, так и конкретные товары по названию. А на странице каждой модели будет подробная информация, которая поможет принять решение: описание, технические характеристики, фото и видео, полезные ссылки и отзывы. Там же будет находиться блок «Где купить?» со списком интернет-магазинов и ценами.
        </P>
    </div>
</footer>
    
</body>
</html>